<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JDBCCreateDrop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCreateDB</display-name>
    <servlet-name>ServletCreateDB</servlet-name>
    <servlet-class>com.servlets.ServletCreateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreateDB</servlet-name>
    <url-pattern>/ServletCreateDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSelectDB</display-name>
    <servlet-name>ServletSelectDB</servlet-name>
    <servlet-class>com.servlets.ServletSelectDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSelectDB</servlet-name>
    <url-pattern>/ServletSelectDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDropDB</display-name>
    <servlet-name>ServletDropDB</servlet-name>
    <servlet-class>com.servlets.ServletDropDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDropDB</servlet-name>
    <url-pattern>/ServletDropDB</url-pattern>
  </servlet-mapping>
</web-app>